Source: arrow-judge-web
Section: web
Priority: extra
Maintainer: Hiromu Yakura <hiromu1996@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/hiromu/arrow-judge-web
Vcs-Git: https://github.com/hiromu/arrow-judge-web.git

Package: arrow-judge-web
Architecture: all
Depends: libapache2-mod-php5 | libapache2-mod-php5filter | php5-cgi | php5-fpm | php5,
 php5-cli,
 php5-mysql | php5-mysqli | php5-mysqlnd,
 ${misc:Depends}
Recommends: apache2
Description: Arrow-Judge is a open source online judge system.
 Arrow-Judge is a open source online judge system, released under MIT License.
 This package is the web interface of Arrow-Judge.
